* {
    margin: 0;
    padding: 0;
}
a:hover {
    text-decoration: none;
    color: white;
}
body {
    -webkit-display: flex;
    -webkit-flex-flow: column wrap;
    -wekit-justify-content: space-between;
    flex-flow: column wrap;
    justify-content: space-between;
    display: flex;
    min-height: 100vh;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}
header, footer {
    background-color: rgb(74,66,87);
    color: rgb(214, 230, 231);
}
header {
    -webkit-display: flex;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: space-around;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    min-height: 50px;
}
.big {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-left: 20px;
    margin: 0;
    
}
.brand a {
    font-family: 'Courgette', cursive;
    font-size: 35px;
    text-shadow: 4px 4px 4px #aaa;
    padding: 0 0 0 20px;
    margin: 0;
}
nav {
    -webkit-flex: 4 1 auto;
    -webkit-display: flex;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: space-around;
    flex:4 1 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
header a, footer a {
    text-decoration: none;
    color: inherit;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    text-align: center;
}
.linkage a {
     display: block;
     padding: 10px;
}
.main-container {
    -webkit-display: flex;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: space-between;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    min-height: 100%;
    margin-bottom: 10px;
}
/*Here is some style of carousel*/
.carousel {
    margin: 30px auto 0 auto;
}
.carousel img {
    max-width: 640px;
    max-height: 480px;
}
.glyphicon-chevron-left, .glyphicon-chevron-right {
    color: rgb(74, 66, 87);
}
.left, .right {
    background-color: rgb(195, 223, 229);
}
.carousel-indicators li {
    border-color: rgb(74, 66, 87);
}
.carousel-indicators li.active {
    background-color: rgb(74, 66, 87);
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
}
/*Here is the end of carousel style*/
footer {
    -webkit-display: flex;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: space-between;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 80px;
    margin-bottom: 0;
    align-items: center;
   
}
.content { 
    min-height:100%;
}
.content, .main-container {
    width: 80%;
    margin: 0 auto;
}
div.colors {
    display: block;
    width: 80%;
    margin: 0 auto;
}
.images {
    margin: 0 auto;
}
/*color browser for images*/
.colors {
    text-align: center;
}
.colorlist {
    list-style-type: none;
    }
.color {
  display: inline-block;
  margin: 0 auto;
}
.color a {
    text-decoration: none;
    visibility: hidden;
}
.color a:before {
    visibility: visible;
    content: "";
    display: inline-block;
    border: 10px solid transparent;
    border-radius: 50%;
    padding: 0;
    margin-left: 10px;
    text-decoration: none;
}
li.color:first-child a:before {
    border-color: whitesmoke;
    margin-left: 0;
}
li.color:nth-child(2) a:before {
    border-color: yellow;
}
li.color:nth-child(3) a:before {
    border-color: orange;
}
li.color:nth-child(4) a:before {
    border-color: red;
}
li.color:nth-child(5) a:before {
    border-color: lightsalmon;
}
li.color:nth-child(6) a:before {
    border-color: pink;
}
li.color:nth-child(7) a:before {
    border-color: purple;
}
li.color:nth-child(8) a:before {
    border-color: mediumturquoise;
}
li.color:nth-child(9) a:before {
    border-color: green;
}

/*links behavior*/

a:hover {
    text-shadow: 0px 0px 10px rgb(214, 230, 231);
}
a:active {
    text-shadow: 0px 0px 10px rgb(152,251,152);
    color: rgb(152,251,152);
}